html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #96aca0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

a {
    text-decoration: none;
}

.btn {
    color: #ffffff;
    background-color: #ea5239; /* позже будет градиент */
    font-size: 18px;
    line-height: 24px;
    border: none;
    text-align: center;
}

.btn:hover,
.btn:focus {
    background-color: #f17d65;
}

.main-navigation {
    font-size: 16px;
    line-height: 18px;
}

.personal-navigation > :not(.personal-navigation-btn),
.site-navigation-submenu {
    display: none; /* временно скрыто */
}

.site-navigation,
.site-navigation-submenu {
    list-style: none;
}

.site-navigation-item a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    border-bottom: 1px solid #adbdb4;
}

.site-navigation-item.active a {
    background-color: #d07058;
    color: #ffffff;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
    background-color: #ffffff;
    color: #333333;
    border: none;
}

.features {
    color: #323232;
    background-color: #F1E7D4;
    background-image: url("../img/wafer-pattern.jpg");
    background-repeat: repeat;
}

.features-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.features-item {
    font-size: 16px;
    line-height: 22px;
}

.news {
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/strawberry.jpg");
    background-repeat: no-repeat;
}

.news-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.news-caption {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.news-caption a {
    color: #323232;
    border-bottom: 2px solid #353535;
}

.news-caption a:hover,
.news-caption a:focus,
.news-caption a:active {
    color: #e84d37;
    border-bottom: 2px solid #f9cdc4;
}

.subscription {
    background-color: #ffffff;
}

.subscription p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 22px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    color: #ffffff;
    border-bottom: 1px solid #a9bbb1;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;   
}

.page-title {
    color: #ffffff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.products-item {
    list-style: none;
}

.products-item-link {
    border: none;
}

.products-item-link img {
    border-radius: 50%;
}

.products-item-price {
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.products-item-price span {
    color: #ffffff;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.additional-links {
    list-style: none;
}

.additional-links-item a {
    color: #ffffff;
    border-bottom: 1px solid #a9bbb1;
    font-size: 13px;
    line-height: 18px;
}

.additional-links-item a:hover,
.additional-links-item a:focus,
.additional-links-item a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;
}

.additional-links-item .decorated {
    font-weight: 700;
}

.copyright {
    color: #fefefe;
    font-size: 12px;
    line-height: 18px;
}

.copyright-link {
    color: #ffffff;
    border-bottom: 1px solid #a9bbb1;
    font-size: 12px;
    line-height: 18px;
}

.copyright-link:hover {
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;
}