html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #96aca0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.btn {
    color: #ffffff;
    background-color: #ea5239; /* позже будет градиент */
    font-size: 18px;
    line-height: 24px;
    border: none;
    text-align: center;
}

.btn:hover,
.btn:focus {
    background-color: #f17d65;
}

.container {
    margin: 0 auto;
    padding: 0 27px;
    width: 1200px;
}

.main-header {
    display: flex;

    margin-top: 9px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-size: 16px;
    line-height: 18px;
}

.site-navigation {
    margin: 0;
    padding: 0;

    display: flex;
}

.personal-navigation > :not(.personal-navigation-btn),
.site-navigation-submenu,
.feedback {
    display: none; /* временно скрыто */
}

.site-navigation,
.site-navigation-submenu {
    list-style: none;
}

.site-navigation-item a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    border-bottom: 1px solid #adbdb4;
}

.site-navigation-item.active a {
    background-color: #d07058;
    color: #ffffff;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
    background-color: #ffffff;
    color: #333333;
    border: none;
}

.filter-form {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.special-offers {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
}

.offer {
    border-radius: 15px;

    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 20px;

    width: 560px;
}

.offer-raspberry {
    background-color: #701e28;
    background-image: url("../img/raspberry.jpg");
}

.offer-chocolate {
    background-color: #603720;
    background-image: url("../img/chocolate.jpg");
}

.offer-caption {
    margin: 0;
    
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.offer-description {
    margin: 0;
    padding: 0;
    
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

    margin-top: 15px;
}

.special-offers-btn {
    margin-left: auto;
    margin-top: 45px;
}

.features {
    color: #323232;
    background-color: #f1e7d4;
    background-image: url("../img/wafer-pattern.jpg");
    background-repeat: repeat;

    border-radius: 15px;
    padding-top: 28px;
    padding-left: 21px;
    padding-bottom: 30px;
}

.features-title {
    margin: 0;
    padding: 0;

    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #323232;
    text-align: left;
}

.features-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 35px;
}

.features-item {
    width: 476px;

    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.blocks-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
}

.news {
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/strawberry.jpg");
    background-repeat: no-repeat;
    background-position: -50px -220px;

    padding-left: 20px;
    padding-top: 20px;

    border-radius: 15px;
    width: 560px;

    min-height: 220px; /* временно */
}

.news-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.news-caption {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    width: 279px;
}

.news-caption a {
    color: #323232;
    border-bottom: 2px solid #353535;
}

.news-caption a:hover,
.news-caption a:focus,
.news-caption a:active {
    color: #e84d37;
    border-bottom: 2px solid #f9cdc4;
}

.subscription {
    margin: 0;
    padding: 0;

    background-color: #ffffff;

    border-radius: 15px;
    width: 560px;

    padding-top: 38px;
    padding-left: 27px;
    min-height: 220px; /* временно */
}

.subscription p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
}

.breadcrumbs {
    /* выровнять текст по высоте */

    margin: 0;
    padding: 0;

    display: flex;
    align-content: center;
    align-items: center;

    list-style: none;
}

.breadcrumbs li {
    position: relative;
}

.breadcrumbs li::after {
    content: "»";
}

.breadcrumbs li:last-child::after {
    display: none;
}

.breadcrumbs a,
.breadcrumbs-current {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.breadcrumbs a {
    border-bottom: 1px solid #a9bbb1;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;   
}

.page-title {
    color: #ffffff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.products-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    margin-top: 40px;
}

.products-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 267px;

    margin-right: 26px;
    margin-bottom: 35px;

    list-style: none;
}

.products-item:nth-child(4n) {
    margin-right: 0;
}

.products-item-link {
    border: none;
}

.products-item-link img {
    border-radius: 50%;
}

.products-item-price { 
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;

    position: absolute;
    top: 210px;
    left: 0;
}

.products-item-price span {
    color: #ffffff;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.products-item-description {
    color: #ffffff;
    /* многострочное подчеркивание */
}

.products-item-header {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    text-align: center;
    
    margin-top: 9px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.additional-links {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 304px;

    list-style: none;
}

.additional-links-item {
    margin: 0;
    padding: 0;
}

.additional-links-item a {
    color: #ffffff;
    border-bottom: 1px solid #a9bbb1;
    font-size: 13px;
    line-height: 18px;
}

.additional-links-item a:hover,
.additional-links-item a:focus,
.additional-links-item a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;
}

.additional-links-item .decorated {
    font-weight: 700;
}

.copyright {
    color: #fefefe;
    font-size: 12px;
    line-height: 18px;
}

.copyright-link {
    color: #ffffff;
    border-bottom: 1px solid #a9bbb1;
    font-size: 12px;
    line-height: 18px;
}

.copyright-link:hover {
    color: #ffbc9e;
    border-bottom: 1px solid #a7a294;
}